.container {
    max-width: 800px;
    margin: 40px auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
  form input,
  form textarea {
    margin-bottom: 25px;
  }
  
  form textarea {
    height: 100px;
  }
  
  .btn-container button {
    margin-right: 10px;
  }
  
  .btn-container button:last-child {
    margin-right: 0;
  }
  
  .error-message {
    align-self: flex-start; 
    margin-top: 5px;
  }