<div class="product-card">
    <div class="product-card__img-container">
        <img src="" alt="" class="product-card__img">
    </div>
    <div class="product-card__info-container">
        <h3 class="product-card__title"> Título </h3>
        <p class="product-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sed illo aliquid a voluptatibus ea id qui voluptatem illum quod accusamus, delectus nostrum soluta expedita iste, amet asperiores officia dolor.</p>
        <p class="product-card__schedule">Lunes y Martes 18:30hs</p>
        <div class="product-card__purchase">
            <p class="product-card__price">$ 0.00 </p>
            <button class="product-card__sell-button">Comprar</button>
        </div>
    </div>
</div>
