@import 'src/styles.css';

.product-card--container {
  --background: var(--naranja-gradiente);
  padding: 3px;
  border-radius: 8px;
  overflow: visible;
  background: #F5923B;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #262630;
    border-radius: 8px;
    padding: 16px;
    color: white;
}

.product-card__img-container {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
    background-color: transparent;
}

.product-card__img-container:hover .product-card__img {
    transform: scale(1.08);
}

.product-card__info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
}

.product-card__title {
    font-size: 24px;
    font-weight: bold;
    padding: 4px 0;
    text-transform: uppercase;
    text-align: center;
}

.product-card__description {
  font-size: 15px;
}

.product-card__schedule {
  color: var(--naranja-soft);
  font-weight: 500;
}

.product-card__purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    padding: 12px 4px;
}

.product-card__price {
    font-size: 24px;
    font-weight: bold;
}

.product-card__sell-button {
    padding: 12px 20px;
    border-radius: 8px;
    border:none;
    background-color:var(--naranja-intenso);
    box-shadow: 2px 2px 12px #1d1919;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
    color:#1d1919;
    transition: background-color .3s;
}

.product-card__sell-button:hover {
    background-color: var(--naranja-soft);
    box-shadow: none;
}
