<div class="container my-3">
    <h1>Lista de clases</h1>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Duracion</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Spinning</td>
            <td>De Lun. a Viernes de 15:00 a 16:00</td>
            <td>$1600</td>
            <td>Imagen</td>
            <td>1:30 Hs</td>
            <td>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Spinning</td>
            <td>De Lun. a Viernes de 15:00 a 16:00</td>
            <td>$1600</td>
            <td>Imagen</td>
            <td>60 Min</td>
            <td>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Spinning</td>
            <td>De Lun. a Viernes de 15:00 a 16:00</td>
            <td>$1600</td>
            <td>Imagen</td>
            <td>2 Hs</td>
            <td>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>