<main>
  <div class="banner-img"></div>
  <section class="login__content--container">
    <div class="login__content">
      <div class="login__header">
        <h2 class="login__title">Bienvenido</h2>
        <span class="logo-misrutinas"></span>
      </div>
      <form class="login__form" [formGroup]= "form" (ngSubmit)="enviarFormulario($event)">
        <div class="form-title--container">
          <p class="form-title">Inicia sesión</p>
          <p class="form-subtitle">o <a href="#">Regístrate</a>.</p>
        </div>
        <div class="form-group">
          <label for="email" class="label-email"><span></span>Correo electrónico:</label>
          <input type="email" formControlName="email" id="email" placeholder="misrutinas@ejemplo.com">
          <div *ngIf="Email?.errors && Email?.touched">
            <p *ngIf="Email?.hasError('required')" class="text-danger">Ingresa tu email.</p>
            <p *ngIf="Email?.hasError('email')" class="text-danger">Ingresa un email válido.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="label-password"><span></span>Contraseña:</label>
          <input type="password" formControlName="password" id="password" placeholder="*********">
          <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">Ingresa tu contraseña.</p>
          </div>
        </div>
        <p *ngIf="error" class="text-danger">{{ error }}</p>
        <div class="form-buttons">
          <a href="#" class="btn-olvido">¿Olvidaste tu contraseña?</a>
          <input type="submit" value="Ingresar" class="btn-ingresar">
        </div>
      </form>
    </div>
  </section>
</main>
