<div class="table-container">
  <h1>Bienvenido {{ username }}</h1>
  <button class="create-button"><a class="nav-link" routerLink="/crear-clase">Crear Clase</a></button>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Img</th>
          <th>Duracion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clase of clases">
          <td>{{ clase.id_clase }}</td>
          <td>{{ clase.nombre }}</td>
          <td>${{ clase.precio }}</td>
          <td>{{ clase.descripcion }}</td>
          <td>
            <img
              [src]="clase.imagen"
              alt="{{ clase.nombre }}"
              width="100"
              height="100"
            />
          </td>
          <td>{{ clase.duracion }}</td>
          <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/editar-clase', clase.id_clase]">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarClase(clase.id_clase)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
