<div class="container">
  <h1>Bienvenido {{ username }}</h1>
  <button class="btn btn-primary mb-3"><a class="nav-link text-white" routerLink="/crear-clase">Crear Clase</a></button>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Img</th>
          <th>Duracion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clase of clases">
          <td>{{ clase.id_clase }}</td>
          <td>{{ clase.nombre }}</td>
          <td>${{ clase.precio }}</td>
          <td class="text-truncate" style="max-width: 400px;">{{ clase.descripcion }}</td>
          <td>
            <img [src]="clase.imagen" alt="{{ clase.nombre }}" class="img-fluid" style="max-width: 100px; height: auto;">
          </td>
          <td>{{ clase.duracion }}</td>
          <td>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary" [routerLink]="['/editar-clase', clase.id_clase]">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarClase(clase.id_clase)">Eliminar</button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
