<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisRutinas"
        tools:targetApi="31">
        <activity
            android:name=".CrearEntrenadorActivity"
            android:exported="false" />
        <activity
            android:name=".CrearSocioActivity"
            android:exported="false" />
        <activity
            android:name=".VerClaseActivity"
            android:exported="false" />
        <activity
            android:name=".VerSocioActivity"
            android:exported="false" />
        <activity
            android:name=".VerEntrenadorActivity"
            android:exported="false" />
        <activity
            android:name=".ListaClaseActivity"
            android:exported="false" />
        <activity
            android:name=".CrearClaseActivity"
            android:exported="false" />
        <activity
            android:name=".EditarClaseActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ListaProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".ListaSocioActivity"
            android:exported="false" />
        <activity
            android:name=".EditarEntrenadorActivity"
            android:exported="false" />
        <activity
            android:name=".EditarSocioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>