@import "src/styles.css";

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
    grid-gap: 24px;
    padding: 32px 16px;
    background-color: var(--oscuro);
}